@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); /* font-family: 'Montserrat', sans-serif; */

body {
    background-color: #0B0A07;
    margin: 0;
    overflow: hidden;
}

h3, #big-white {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    font-size: 2.75vw;
    color: #E5ECF4;
    text-align: center;
}

#generation {
    font-family: 'Montserrat', sans-serif;
    margin-left: 25px;
    vertical-align:baseline;
    text-decoration:none;
    font-size: 2.75vw;
    background-color: rgba(0, 0, 0, 0);
    color: #F0EC57;
    padding:8px 20px;
    border-radius: 45px;
    border: 0.5vw solid #F0EC57;
    cursor:pointer;
    transition: all linear 0.2s;
    z-index: 100;
}

#generation:hover {
    color: #F7F4A1;
    border: 0.5vw solid #F7F4A1;
    transform:translateY(-5px)
}

#title {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #0B0A07;
    font-size: 7.5vw;
    background-color: #F0EC57;
}
